## 주제 : 비디오게임 데이터를 통한 미래시장 예측과 판매 전략수립
 ### => 어떤 장르의 게임을 언제(시대) 어디서(지역, 플랫폼) 출시해야 안정적인 수익을 보장할 수 있을까?

### 1차 목표 : 장르별, 시대별, 대륙별 트렌드와 매출액을 파악하기

- 시대별 장르 선호도 변화는 어떠한가? (시대별 장르 트렌드 변화)
- 어떤 플랫폼에서 게임을 출시해야 하는가? (시대별 플랫폼 판매량)
- 어느 지역에 출시할 것인가? (대륙별 선호도)

In [35]:
import pandas as pd
import datetime
import math
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [105]:
df = pd.read_csv('./data/Video_Games(정제2).csv')

In [106]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_,EU_,JP_,Other_,Global_,C_Score,U_Score,Rating
0,SuperMarioWorld,SNES,1990,Platform,Nintendo,38.73,11.36,10.73,1.67,62.45,100.0,NaN,NaN
1,TheLegendofZelda:OcarinaofTime,N64,1998,Action,Nintendo,16.40,7.56,5.80,0.64,30.40,99.0,NaN,NaN
2,GrandTheftAutoIV,X360,2008,Action,Take-Two Interactive,45.07,20.47,0.93,6.87,73.40,98.0,7.9,M
3,GrandTheftAutoIV,PS3,2008,Action,Take-Two Interactive,31.73,24.60,2.93,10.73,70.00,98.0,7.5,M
4,TonyHawk'sProSkater2,PS,2000,Sports,Activision,13.26,6.13,0.09,0.87,20.35,98.0,7.7,T

In [107]:
print('  데이터 개수, 데이터 타입, 결측값 확인')
print(df.info())
print('\n 평균,최대,최소값 확인\n',df.describe())

  데이터 개수, 데이터 타입, 결측값 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16716 entries, 0 to 16715
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       16716 non-null  object
 1   Platform   16716 non-null  object
 2   Year       16716 non-null  int64
 3   Genre      16716 non-null  object
 4   Publisher  16716 non-null  object
 5   NA_        16716 non-null  float64
 6   EU_        16716 non-null  float64
 7   JP_        16716 non-null  float64
 8   Other_     16716 non-null  float64
 9   Global_    16716 non-null  float64
 10  C_Score    16716 non-null  float64
 11  U_Score    10014 non-null  object
 12  Rating     9950 non-null   object
dtypes: float64(6), int64(1), object(6)
memory usage: 1.7+ MB
None

 평균,최대,최소값 확인
                Year           NA_           EU_           JP_        Other_  \
count  16716.000000  16716.000000  16716.000000  16716.000000  16716.000000
mean    2006.469789      1.659076      1.004357      0.454309      0.335348
std        5.911430      4.892817      3.640483      1.823135      1.282344
min     1977.000000      0.000000      0.000000      0.000000      0.000000
25%     2003.000000      0.000000      0.000000      0.000000      0.000000
50%     2007.000000      0.500000      0.140000      0.000000      0.060000
75%     2010.000000      1.480000      0.690000      0.250000      0.220000
max     2020.000000    243.290000    170.350000     43.500000     55.630000

            Global_       C_Score
count  16716.000000  16716.000000
mean       3.454263     55.059183
std       10.046409     26.464686
min        0.030000     13.000000
25%        0.390000     33.000000
50%        1.065000     64.000000
75%        2.940000     75.000000
max      485.470000    100.000000

In [110]:
# 장르가 글로벌세일에 주는 영향을 알아보기 위한 데이터프레임 새로 생성
newdf=df[['Genre', 'Global_']]
newdf.head(3)

      Genre  Global_
0  Platform    62.45
1    Action    30.40
2    Action    73.40