In [14]:
import os
from scipy import ndimage, misc
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import math
import pandas as pd
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [15]:
train=pd.read_csv(r'C:/Users/vpdrn/pp/Video_Games.csv',encoding='cp949')

In [16]:
train.dropna(inplace=True)

In [17]:
temp = train.loc[:,["Platform","Year_of_Release","Genre","Critic_Score","Critic_Count","User_Score","User_Count"]]
temp

,Platform,Year_of_Release,Genre,Critic_Score,Critic_Count,User_Score,User_Count
0,Wii,2006.0,Sports,76.0,51.0,8,322.0
2,Wii,2008.0,Racing,82.0,73.0,8.3,709.0
3,Wii,2009.0,Sports,80.0,73.0,8,192.0
6,DS,2006.0,Platform,89.0,65.0,8.5,431.0
7,Wii,2006.0,Misc,58.0,41.0,6.6,129.0
...,...,...,...,...,...,...,...
16673,GBA,2002.0,Fighting,81.0,12.0,8.8,9.0
16692,PC,2014.0,Action,80.0,20.0,7.6,412.0
16696,PC,2011.0,Shooter,61.0,12.0,5.8,43.0
16702,PC,2011.0,Strategy,60.0,12.0,7.2,13.0
16705,PC,2009.0,Adventure,63.0,6.0,5.8,8.0

In [18]:
Genre = temp.loc[:,["Genre"]]
Genre

           Genre
0         Sports
2         Racing
3         Sports
6       Platform
7           Misc
...          ...
16673   Fighting
16692     Action
16696    Shooter
16702   Strategy
16705  Adventure

[6894 rows x 1 columns]

In [19]:
pd.get_dummies(Genre, columns=['Genre'], prefix = ['Genre'])

,Genre_Action,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,Genre_Puzzle,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy
0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0
6,0,0,0,0,1,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16673,0,0,1,0,0,0,0,0,0,0,0,0
16692,1,0,0,0,0,0,0,0,0,0,0,0
16696,0,0,0,0,0,0,0,0,1,0,0,0
16702,0,0,0,0,0,0,0,0,0,0,0,1
16705,0,1,0,0,0,0,0,0,0,0,0,0

In [20]:
X = temp.copy()
X = pd.get_dummies(X, columns=['Genre'], prefix = ['Genre'])
X = pd.get_dummies(X, columns=['Year_of_Release'], prefix = ['Year_of_Release'])
X = pd.get_dummies(X, columns=['Platform'], prefix = ['Platform'])
X.fillna(0)
X

,Critic_Score,Critic_Count,User_Score,User_Count,Genre_Action,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,Genre_Puzzle,...,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_PSV,Platform_Wii,Platform_WiiU,Platform_X360,Platform_XB,Platform_XOne
0,76.0,51.0,8,322.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,82.0,73.0,8.3,709.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,80.0,73.0,8,192.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,89.0,65.0,8.5,431.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,58.0,41.0,6.6,129.0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16673,81.0,12.0,8.8,9.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16692,80.0,20.0,7.6,412.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16696,61.0,12.0,5.8,43.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16702,60.0,12.0,7.2,13.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16705,63.0,6.0,5.8,8.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
def rmse(pred, test): 
    rmse = 0.0
    N = test.shape[0]
    for i in range(N):
        rmse += (pred[i] - test[i]) * (pred[i] - test[i])
    rmse = rmse / len(pred)
    rmse = math.sqrt(rmse)
    return rmse

In [26]:
x_train,x_cv,y_train,y_cv = train_test_split(X,train.Global_Sales,test_size = 0.3)

In [27]:
from sklearn.linear_model import LinearRegression
import math

lin_reg = LinearRegression().fit(x_train,y_train)
lr_pred = lin_reg.predict(x_cv)
lr_rmse = rmse(np.asarray(lr_pred),np.asarray(y_cv))
lr_score = lin_reg.score(x_cv,y_cv)

print("선형회귀:")
print("RMSE: %s" % lr_rmse)
print("R^2 값: %f" % lr_score)

선형회귀:
RMSE: 1.158555694651617
R^2 값: 0.263225

In [28]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV

alphas = [0.1, 1, 10, 50, 100, 1e-3, 1e-4, 2e-4, 5e-4, 8e-4, 1e-5, 1e-6, 1e-7, 1e-8]

rid_reg = RidgeCV(alphas=alphas,store_cv_values=True)

rid_reg.fit(x_train,y_train)

rr_pred = rid_reg.predict(x_cv)

rr_rmse = rmse(np.asarray(rr_pred),np.asarray(y_cv))

rr_score = rid_reg.score(x_cv,y_cv)

print("릿지회귀:")
print("RMSE: %s" % rr_rmse)
print("Best alpha : %f" % rid_reg.alpha_)
print("R^2 값: %f" % rr_score)

릿지회귀:
RMSE: 1.1550046699736976
Best alpha : 50.000000
R^2 값: 0.267735

In [29]:
from sklearn.linear_model import LassoCV

alphas=[0.0001, 0.0003, 0.0006, 0.001, 0.003, 0.006, 0.01, 0.03, 0.06, 0.1, 0.3, 0.6, 1]

lasso = LassoCV(alphas=alphas,max_iter=50000, cv=10)
lasso.fit(x_train,y_train)

lasso_pred = lasso.predict(x_cv)

lasso_rmse = rmse(np.asarray(lasso_pred),np.asarray(y_cv))

lasso_score = lasso.score(x_cv,y_cv)

print("라쏘회귀:")
print("RMSE: %s" % lasso_rmse)
print("Best alpha : %f" % lasso.alpha_)
print("R^2 값: %f" % lasso_score)

라쏘회귀:
RMSE: 1.1565522014865965
Best alpha : 0.003000
R^2 값: 0.265771

In [30]:
data = [["선형",lr_rmse,lr_score]
        ,["릿지",rr_rmse,rr_score]
        ,["라쏘",lasso_rmse,lasso_score]]
dataframe = pd.DataFrame(data, columns=['Model', 'RMSE', 'R^2 score'])
dataframe

  Model      RMSE  R^2 score
0    선형  1.158556   0.263225
1    릿지  1.155005   0.267735
2    라쏘  1.156552   0.265771